@font-face {
    font-family: 'Inspiration Calligraphy';
    src: url('inspiration-2.ttf') format('truetype');
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #5F2A2A;
}

header {
    background-color: #5F2A2A;
    height: 100px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    position: fixed;
    z-index: 10000000000000000000;
    width: 100%;
}

h1 {
    font-family: 'Inspiration Calligraphy';
    text-decoration: none;
    /*color: white; /*black*/
    display: flex;
    align-items: center;
}

h1 p{
color: white; /*#E7B012*/
}

h1 img {
    height: 60px;
    width: auto;
    margin-right: 15px;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #E7B012;
    padding: 10px;
    position: fixed;
    top: 80px;
    z-index: 100000000000000000;
    width: 100%;

}

nav a {
    color: white;
    text-decoration: none;
    padding: 5px;
    border-radius: 15px;
}

nav a:hover {
    background-color: rgb(191, 143, 6);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 36px;
    /*color: white;*/
}

h2 p{
color: white;
}

main {
    flex-grow: 1;
}

section {
    padding: 40px 10px;
    background-color: #5F2A2A;
}

.container {
    width: 90%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.produto {
    background-color: #E7B012;
    border-radius: 10px;
    padding: 20px;
    margin: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.produto:hover {
    transform: scale(1.05);/*h=13d7597*/
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

.produto img {
    width: 100%;
    border-radius: 10px;
    height: 200px;
    object-fit: cover;
}

.produto h3 {
    font-size: 24px;
    margin: 10px 0;
}

.produto p {
    font-size: 18px;
    color: #333;
}

.produto strong {
    font-size: 20px;
    color: #5F2A2A;
}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
   align-content: start;
    gap: 5px;
    color: white;
    margin-right: 50px;
    /* grid-row: 1; */
    }
    .figura_form{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1;
    /* margin-left: 5px; */
    
    }
    @media (width < 900px ){
        .figura_form{
            grid-template-columns: 1fr;
        }
        form{
         grid-row: 2;   
        }
    }
.padaria img{ /* +/- */
    width: 100%;
    border-radius: 10px;
    height: 350px;
    object-fit: cover;
}

.letter {
    display: inline-block;
    color:white;
}

.mosaico {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    width: 80%;
    height: auto;
    position: relative;
    margin: 0 auto;
}

.foto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 8px;
    min-height: 200px; /*altura mínima p img */
}

@media (max-width: 768px) {
    .mosaico {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
    }
    .foto {
        height: auto; /*altura se ajuste conforme*/
        min-height: 100px;
    }
}


.foto1 {
    background-image: url('/img/artic-monkeys.jpg'); /* a "/" pega a imagem na raiz do codigo, html */
}

.foto2 {
    background-image: url('/img/ricardinho.webp');
}

.foto3 {
    background-image: url('/img/elon-musk.webp');
}

.foto4 {
    background-image: url('/img/betito.jpeg');
}

.foto5 {
    background-image: url('/img/deftones.jpeg');
}

.foto6 {
   background-image: url('/img/link-do-zap.jpeg'); 
}

.foto1:hover, .foto2:hover, .foto3:hover, .foto4:hover, .foto5:hover, .foto6:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

footer {
    background-color: #E7B012;
    color: white;
    padding: 20px 0;
    text-align: start;
}

footer p {
    margin: 0;
}

/* class nome ::before
class nome :: content */


